@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');

/* global styles */
*{
	margin: 0px;
}
body{
	font-family: "lato", sans-serif;
	background-color: #fdfdfd;
}
/* global classes ends */

/* reusable classes */
.para1{
	font-size: 18px;
	font-weight: normal;
	text-align: right;
}
.heading1{
	font-size: 20px;
	text-align: right;
	
}
/* reusable classes ends */

/* header */
.header1{
	margin-top: 46px;
}
.header2{
	margin-top:40px;
}
.logo{
	width: 263px;
	height: 57px;
}

/* header ends */

/* stepss */
.progress-step{
	height: 201px;
}
/* steps ends */

/* steps 26 */
.step p{
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	color: #d8d8d8;
}

/* steps 26 ends */

/* section uploads # */
.upload{
	margin-top: 19px;
}
.upload p{
	font-size: 44px;
	font-weight: bold;
	text-align: center;
}
/* section uploads ends */

/* section drag drop */
.drag-drop{
	margin-top: 72px;
}
.main{
	background-color: #f5f8fa;
	border-radius: 8px;
}
.sub{
	border: 3px dashed #dcdfe1;
	padding: 29px 41px;
	margin: 13px 12px;
	border-radius: 8px;	
}
.sub p{
	margin-top: 29px;
	font-size: 20px;
	text-align: center;
	font-weight: 500;
}
.sub button{
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	margin-top: 35px;
	margin-left: 90px;;	
	padding: 20px;
	border-radius: 20px;
	background-image: linear-gradient(to bottom left,lightseagreen,Turquoise);
}
/* section drag drop ends */

/* examples */
.examples{
	margin-top: 51px;
}
.examples p{
	font-weight: bolder;
	font-size: 18px;
	text-align: center;
	color: #d8d8d8;
}
/* example ends */

/* products */
.products{
	margin-top: 48px;
}
.img2{
	box-shadow:5px 15px 15px 15px #f4f4f4;
	padding: 36px 34px 31px 55px;	
}
.img3{
	 box-shadow:5px 15px 15px 15px #f4f4f4; 
	padding: 24.5px 46px;
}
.img4{
	box-shadow:5px 15px 15px 15px #f4f4f4;
	padding: 26px 63px;
}
/* products ends */

/* continue */
.continue{
	margin-top: 56px;
}
.continue button{
	width: 100%;
	font-size: 32px;
	color: #fff;
	background-color: #f0813b;
	border-radius: 10px;
}

/* continue ends*/

/* copyright */
.trademark{
	margin-top: 97px;
	justify-content: center;
}
.copyright{
	text-align: center;
	font-size: 16px;
	color: #d3d3d3;
	font-weight: bold;
}
.img5{
	display: block;
	width: auto;
}
.img6{
	float: right;
}
/* copyright ends */
/* footer */
.rights{
	margin-top: 48px;
	padding: 0px;
}
.rights .para2{
	font-size: 12px;
	text-align: center;
	color: #afafaf;
	font-weight: bold;
}
.para2 span{
	color: #f0813b;
}

/* footer ends */